<table>
  <tbody>
    <% article.comments.each do |comment| %>
    <tr>
      <td>プロフィール画像</td>
      <td><%= comment.user.screen_name %></td>
      <td><%= comment.comment %></td>
      <td>
        <% if comment.user == current_user %>
        <%= link_to "削除", article_comment_path(comment.article,comment), method: :delete, class: "btn btn-sm btn-danger p-0 p-1", style: "font-size: 8px;" %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>