<h1>Public::Users#show</h1>
<p>Find me in app/views/public/users/show.html.erb</p>


<table>
  
  <tr>
    <th>ニックネーム</th>
    <th>
      <%= link_to edit_user_path do %>
        <%= @user.screen_name %>
      <% end %>
    </th>
  </tr>
  <tr>
    <th>紹介文</th>
    <th><%= @user.introduction %></th>
  </tr>
</table>

